/********** Template CSS **********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100%;
}




:root {
    --primary: #00B98E;
    --light: #F3F6F8;
    --dark: #0E2E50;
    --success:#330867;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.navbar{
    /* background-image: linear-gradient(to top, #330867 100%, #30cfd0 0%); */
    color:#DDDDDD ;
    
}

.navbar .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 15px 0;
    color: #FFFFFF;
    font-weight: 500;
    outline: none;
    transition: .5s;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #FFFFFF;
}

.sticky-top.navbar .navbar-nav .nav-link {
    padding: 20px 0;
    color: white;
    font-weight: 900;
}

/* .sticky-top.navbar .navbar-nav .nav-link:hover,
.sticky-top.navbar .navbar-nav {
    color: red;
} */

.navbar .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar .navbar-brand img {
    max-height: 80px;
    width: 160px;
    margin-bottom: .5rem;
    margin-top: 0.3rem;
    transition: .5s;
}


.sticky-top.navbar .navbar-brand img {
    max-height: 80px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar {
        position: relative;
        background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%);
        color: #FFFFFF;
    }

    .navbar .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar .navbar-nav .nav-link,
    .sticky-top.navbar .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: grey;
    }

    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .nav-link.active {
        color: var(--light);
    }

    .navbar .navbar-brand h1 {
        color: var(--light);
    }

    .navbar .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        
        z-index: 999;
    }
    
    .sticky-top.navbar {
        position: fixed;
        /* background: #FFFFFF; */
        background-color:rgba(71, 49, 67, 0.8);
        /* background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%); */
        
    }

    .navbar .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        bottom: 10px;
        left: 0;
        /* background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%); */
        background-color: red;
        opacity: 0;
        transition: .5s;
    }

    .sticky-top.navbar .navbar-nav .nav-link::before {
        /* background: var(--primary); */
        /* background-image: linear-gradient(to top, #330867 0%, #30cfd0 100%); */
        background-color: red;
       
    }

    .navbar .navbar-nav .nav-link:hover::before,
    .navbar .navbar-nav::before {
        bottom: -1px;
        left: 0;
        opacity: 1;
    }

    .navbar .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Hero Header ***/

.hero-header {
    position: relative;
    margin-bottom: 6rem;
    padding: 12rem 0 9rem 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../img/pexels-abbas-mohammed-1990079-3611545.jpg')  center no-repeat;
    
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat; 
   
    
    /* background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    /* background: linear-gradient(60deg, rgba(165, 42, 42, 0.315), rgba(255, 166, 0, 0.199)); */
    mix-blend-mode: multiply;
    z-index: 99 !important;
    
    
}

.color-change{
    /* background: -webkit-linear-gradient(#eee, #333); */
    /* background: linear-gradient(180deg, hsla(57, 98%, 50%, 1) 0%, hsla(8, 68%, 56%, 1) 100%); */
    color: white;
    font-size: 40px;
    font-weight: 700;
    
    
    


    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 25%; */
    
}

.underline{
    border-top: 2px solid white;
    max-width: 500px;
    margin:auto;
}

.flip{
    transform: rotateX(360deg);
    transition: transform 1s;
    
}


.page-header {
    margin-bottom: 6rem;
    padding: 12rem 0 6rem 0;
}

@media (max-width: 991.98px) {
    .hero-header {
        padding: 6rem 0 9rem 0;
    }

    .page-header {
        padding: 6rem 0;
    }
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: rgba(256, 256, 256, .5);
}


/* About us */
.about-us{
    text-transform: uppercase;
    transition: 0.5s;
    display: block;
    text-decoration: underline rgba(71, 49, 67, 0.8) 1px;
    
}
      
.about-us:hover {
background-position: right center; /* change the direction of the change here */
color: rgba(71, 49, 67, 0.8);;
text-decoration: none;
}

.about-img{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 2%;
}



.More{
    background-image: linear-gradient(to right, #c8a852 0%, #7f8852  100%, #b2babf  100%);
    transition: 0.5s;
    
}
      

.More:hover{
    color: #000000;
    text-decoration: none;
    background: #ffbd03;
}

.link-about{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}



.about-head{
    text-transform: uppercase;
    margin-top: -3rem;
    text-decoration: underline rgba(128, 128, 128, 0.499) 2px;
    font-size: 3rem;
    font-weight: 900;
    color: #000000;
    word-spacing: 0.3rem;
}

.text-explain{
    text-align: justify;
    padding-inline: 10rem;
    font-size: 1rem;
    font-weight: 500;
    color: #0d1012;
}

@media (max-width: 460px){
    .about-head{
        font-size: 1.5rem;
    }

    .text-explain{
        padding-inline: 2rem;
    }
}

@media (max-width: 900px){
    .about-head{
        font-size: 1.5rem;
    }

    .text-explain{
        padding-inline: 2rem;
    }
}

/* vision start */
.vision-text{
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
    font-weight: 500;
    color: #0d1012;
}
/* vision end */

/* services start */
.our-services{
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
    
}
.service-img1{
    height: 350px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.service-img1:hover{
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.service-broking{
    cursor: pointer;
    transition: ease 1s;
}
.service-broking:hover{
    transform: scale3d(1.3, 1.3, 1.3);

}

.link-service{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.explore {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    background-image: url("../img/icons8-password-key-16.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
    z-index: 0;
  }
  
  .explore:hover {
    background: #F6F9FE;
    color: #174ea6;
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  }
  
  .explore:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .explore:focus {
    outline: none;
    border: 2px solid #4285f4;
  }
  
  .back-button {
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }
  
/* services end */
     


/*** Team ***/
.team-item img{
    width: 200px !important;


    
}

.team-item {
    width: 350px;
    height:375px;
    position: relative;
    text-align: center;
    transition: .5s;
    z-index: 1;
}

.team-item:hover{
    height: 100%;
    width: 100%;
}

.team-item::before,
.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    transition: .5s;
    z-index: -1;
}

.team-item::after {
    top: auto;
    bottom: 0;
}

.team-item:hover::before,
.team-item:hover::after {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.team-item h5,
.team-item p {
    transition: .5s;
}

.team-item:hover h5,
.team-item:hover p {
    color: #FFFFFF;
}

.team-item img {
    padding: 15px;
    border: 1px solid var(--primary);
}

.bottom-text{
    padding: 0 20px 10px 20px;
    opacity: 0;
    
    visibility: hidden;
    transition: 0.1s;
    color: #000000;
}

.text-team{
    text-align: justify;
}
.team-item:hover .bottom-text{
    opacity: 1;
    visibility: visible;
    
}

/* contact us start */
.contact-heading{
    color:#19092cea;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    text-decoration: underline #3b3838b2 solid 2px;
    
    
}
#attachmentCount{
    margin-left: 100px;
}
#fileInput{
    border: none;
    
}
.submit{
    background-color: black;
    color: white;
    width: 100%;
    font-size: 22px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 2rem;
}

/* @import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap'); */

.info-container p{
    font-family:sans-serif;
    font-size: 20px;

}
.info-container strong{
    margin-bottom: 10px !important;
}
.link-contact{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
/* contact us end */